:root{
  --main-color: #621C97;
  --complementary-color: #FFFFA3;
  --dark-color: #0C0112;
  --light-color: #E9E7F2;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--dark-color)
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-2{
  width: 49%
}
.row-3{
  width: 32.6%;
}

/* Navbar */
.nav__logo{
  max-width: 200px;
}